<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Craftsy - Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>

	<div class="container">
		<!-- Header -->
		<header class="main-header float-fix">
			<div class="logo">
				<a href="/">
					<img src="/images/logo.png" alt="logo de craftsy">
				</a>
			</div>
			<nav class="left-navbar">
				<ul>
					<li><a href="#">Smartphones</a></li>
					<li><a href="#">Tablets</a></li>
					<li><a href="#">Computadoras</a></li>
				</ul>
			</nav>
			<nav class="right-navbar">
				<ul>
					<li><a href="/login">LOGIN</a></li>
					<li><a href="/register">REGISTRO</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main Content-->
		<main class="main-content float-fix">
			<!-- Left content -->
			<section class="main-left-content">
				<article class="product-box">
					<img src="/images/img-phone-01.jpg" alt="imagen ">
					<h2>Nombre del producto</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum enim suscipit dolorem voluptatum neque similique doloremque libero exercitationem sit.</p>
					<a href="#">VER MÁS</a>
				</article>
				<article class="product-box">
					<img src="/images/img-phone-02.jpg" alt="imagen ">
					<h2>Nombre del producto</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum enim suscipit dolorem voluptatum neque similique doloremque libero exercitationem sit.</p>
					<a href="#">VER MÁS</a>
				</article>
				<article class="product-box">
					<img src="/images/img-phone-03.jpg" alt="imagen ">
					<h2>Nombre del producto</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum enim suscipit dolorem voluptatum neque similique doloremque libero exercitationem sit.</p>
					<a href="#">VER MÁS</a>
				</article>
				<article class="product-box">
					<img src="/images/img-phone-01.jpg" alt="imagen ">
					<h2>Nombre del producto</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum enim suscipit dolorem voluptatum neque similique doloremque libero exercitationem sit.</p>
					<a href="#">VER MÁS</a>
				</article>
				<article class="product-box">
					<img src="/images/img-phone-02.jpg" alt="imagen ">
					<h2>Nombre del producto</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum enim suscipit dolorem voluptatum neque similique doloremque libero exercitationem sit.</p>
					<a href="#">VER MÁS</a>
				</article>
				<article class="product-box">
					<img src="/images/img-phone-03.jpg" alt="imagen ">
					<h2>Nombre del producto</h2>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempora cum enim suscipit dolorem voluptatum neque similique doloremque libero exercitationem sit.</p>
					<a href="#">VER MÁS</a>
				</article>
			</section>
			
			<!-- Right content -->
			<section class="main-right-content">
				<h2 class="right-content-title">Tutoriales</h2>

				<ul class="tutorials-list">
					<li>
						<a href="#">
							<img src="/images/aside-01.jpg" alt="imagen tutorial">
							<p>Título del tutorial de reparación</p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/images/aside-02.jpg" alt="imagen tutorial">
							<p>Título del tutorial de reparación</p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/images/aside-03.jpg" alt="imagen tutorial">
							<p>Título del tutorial de reparación</p>
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/images/aside-04.jpg" alt="imagen tutorial">
							<p>Título del tutorial de reparación</p>
						</a>
					</li>
				</ul>

				<h2 class="right-content-title">Publicidad</h2>
				<ul class="advertising">
					<li>
						<a href="#">
							<img src="/images/ad-01.jpg" alt="publicidad">
						</a>
					</li>
					<li>
						<a href="#">
							<img src="/images/ad-02.jpg" alt="publicidad">
						</a>
					</li>
				</ul>
			</section>
		</main>
	</div>

</body>
</html>