<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Craftsy - Home Page</title>
	<link rel="stylesheet" href="/css/app.css">
</head>
<body>

	<div class="container">
		<!-- Header -->
		<header class="main-header float-fix">
			<div class="logo">
				<a href="/">
					<img src="/images/logo.png" alt="logo de craftsy">
				</a>
			</div>
			<nav class="left-navbar">
				<ul>
					<li><a href="">Smartphones</a></li>
					<li><a href="">Tablets</a></li>
					<li><a href="">Computadoras</a></li>
				</ul>
			</nav>
			<nav class="right-navbar">
				<ul>
					<li><a href="/login">LOGIN</a></li>
					<li><a href="/register">REGISTRO</a></li>
				</ul>
			</nav>
		</header>

		<!-- Main Content-->
		<main class="main-content float-fix">
			<h2>Acá va el formulario de login</h2>
		</main>
	</div>

</body>
</html>